/* 배송대행, 구매대행 css */
.container-agent {
    width: 1200px;
    margin: 0 auto;
    line-height: 27px;
    color: #666;
    font-size: 16px;
    text-transform: none;
}
.container-agent *,
.container-agent *::before,
.container-agent *::after {
    box-sizing: border-box;
}
.container-agent h1, .container-agent h2, .container-agent h3, .container-agent h4, .container-agent h5,
.container-agent h6 {
    color: #333;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.container-agent label,
.container-agent legend {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.container-agent label span,
.container-agent legend span {
    font-weight: 400;
    font-size: 14px;
    color: rgb(68, 68, 68);
}
.container-agent .fc_red, 
.container-agent .with-border.fc_red {
    color: red;
}
.container-agent .s_txt {
    font-size: 13px;
    line-height: 20px;
}
.container-agent input[type=radio] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    box-shadow: none;
}
.container-agent ul.dashboard-box-list > li:hover {
    background-color: #fcfcfc;
}
.container-agent .radio input[type=radio] + label .radio-label::after, 
.container-agent a.button {
    background-color: #78148c;
}
.container-agent .tc {
    text-align: center;
}
.container-agent a.button.dark {
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 12px rgb(0, 0, 0 / 10%);
}
.container-agent .button.big {
    font-size: 20px;
    padding: 0px 22px;
    line-height: 60px;
    height: 60px;
    box-shadow: 0 2px 8px rgb(102 103 107 / 15%);
    transition: .3s;
}
.container-agent .button.big:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 8px rgb(102 103 107 / 35%);
}
.container-agent .button.dark {
    background-color: #333;
    box-shadow: 0 3px 8px rgb(0 0 0 / 10%);
}
.container-agent span.button, .container-agent button.button, .container-agent input[type=button], 
.container-agent input[type=submit], .container-agent a.button {
    background-color: #66676b;
    top: 0;
    padding: 0px 13px;
    line-height: 40px;
    height: 40px;
    color: #fff;
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgb(102 103 107 / 15%);
}
.container-agent .ripple-effect {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.container-agent .fl {
    float: left;
}
.container-agent .fr {
    float: right;
}
.container-agent h3 {
    font-size: 22px;
}
.container-agent input.with-border, .container-agent input[type=text].with-border, .container-agent input[type=password].with-border,
.container-agent input[type=email].with-border, .container-agent input[type=number].with-border, 
.container-agent textarea.with-border, .container-agent select.with-border {
    border: 1px solid rgb(213, 213, 213);
    box-shadow: rgb(0 0 0 / 5%) 0px 1px 4px 0px;
}
.container-agent input, .container-agent input[type=text], .container-agent input[type=password],
.container-agent input[type=email], .container-agent input[type=number], 
.container-agent textarea, .container-agent select {
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    outline: none;
    font-size: 16px;
    color: gray;
    margin: 0px;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    opacity: 1;
    border: none;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 4px 0px;
    border-radius: 4px;
}
.container-agent input {
    transition: all 0.1s ease-in-out 0s;
}
.container-agent input.with-border.gray-read {
    background: #f2f4fc;
}
.container-agent input.with-border.necessary {
    border: 1px solid #f49472;
}
.container-agent .with-border.wd100 {
    width: 100px;
}
.container-agent button.button.gray, .container-agent input[type=button].gray, 
.container-agent input[type=submit].gray, .container-agent a.button.gray {
    background-color: #eee;
    color: #666;
    box-shadow: none;
}
.container-agent button.button.gray:hover, .container-agent input[type=button].gray:hover, 
.container-agent input[type=submit].gray:hover, .container-agent a.button.gray:hover {
    background-color: #e0e0e0;
}
.container-agent button {
    border: none;
    margin: 0px;
    padding: 0px;
    width: auto;
    overflow: visible;
    background: 0px 0px;
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;
}
.container-agent .num {
    font-family: verdana !important;
}
.container-agent button.button.charcoal, .container-agent input[type=button].charcoal,
.container-agent input[type=submit].charcoal, .container-agent a.button.charcoal {
    background-color: #6f6f6f;
    color: #fff;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}
.container-agent img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.container-agent input::placeholder {
    color: #cfcfcf;
}
.container-agent .tr {
    text-align: right;
}
.container-agent .bold, .container-agent .with-border.bold {
    font-weight: bold;
}
.container-agent table {
    border-collapse: collapse;
}
.container-agent #backtotop a, .container-agent .header-notifications-trigger span, .container-agent a.header-notifications-button, 
.container-agent #navigation ul ul.dropdown-nav ul.dropdown-nav li:hover a:after, 
.container-agent #navigation ul ul.dropdown-nav li:hover a:after, .container-agent .mm-menu em.mm-counter, 
.container-agent .language-switcher.bootstrap-select.btn-group.open button, 
.container-agent .language-switcher.bootstrap-select.btn-group button:hover, 
.container-agent .footer-links ul li a span:before, 
.container-agent .newsletter button, .container-agent a.blog-post-info:hover, .container-agent #posts-nav li a:hover span, .container-agent .comment-by a.reply:hover, 
.container-agent .contact-address-headline:after, .container-agent .enable-filters-button span, .container-agent .enable-filters-button i, 
.container-agent .board-listing.with-apply-button:hover .list-apply-button, .container-agent .letters-list a.current, .container-agent span.button, 
.container-agent button.button, .container-agent input[type=button], .container-agent input[type=submit], .container-agent a.button, .container-agent mark.color, .container-agent .copy-url .copy-url-button, 
.container-agent .keyword-input-container .keyword-input-button, .container-agent .tags-container input[type=checkbox]:checked+label, 
.container-agent input:checked+.switch-button, .container-agent .radio input[type=radio]+label .radio-label:after, 
.container-agent .uploadButton .uploadButton-button:hover, .container-agent .pricing-plan .button:hover, .container-agent .pricing-plan.recommended .button, 
.container-agent .pricing-plan .recommended-badge, .container-agent .payment-tab-trigger>input:checked~label::after, .container-agent .breathing-icon, 
.container-agent .icon-box-check, .container-agent .testimonial-author span, .container-agent .qtyInc:hover, .container-agent .qtyDec:hover, .container-agent #sign-in-dialog .mfp-close:hover, 
.container-agent #small-dialog-1 .mfp-close:hover, .container-agent #small-dialog-2 .mfp-close:hover, .container-agent #small-dialog-3 .mfp-close:hover, 
.container-agent #small-dialog-4 .mfp-close:hover, .container-agent #small-dialog .mfp-close:hover, .container-agent .slider-selection, .container-agent .cluster-visible, 
.container-agent .marker-container, .container-agent .custom-zoom-in:hover, .container-agent .custom-zoom-out:hover, .container-agent #geoLocation:hover, .container-agent #streetView:hover, 
.container-agent #scrollEnabling:hover, .container-agent #scrollEnabling.enabled, .container-agent a.apply-now-button, .container-agent a.attachment-box:hover, 
.container-agent .project-indicators .indicator-bar span, .container-agent .dashboard-nav ul li span.nav-tag, .container-agent .dashboard-box .button.dark:not(.ico):hover,
.container-agent .messages-inbox ul li:before, .container-agent .message-by h5 i {
    background-color: #78148c;
}







.container-agent .bar-title {
    width: 100%;
    height: 50px;
    padding: 80px 0 30px 0;
}
.container-agent .bar-title .title {
    float: left;
    font-weight: normal;
    color: #333;
    font-size: 30px;
    line-height: 40px;
    margin: 1px 0 3px;
}
.container-agent .ripple-effect { 
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.container-agent .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.container-agent .row::before, .container-agent .row::after, .container-agent .clearfix::after, 
.container-agent .clearfix::before {
    content: " ";
    display: flex;
}
.container-agent .row::after, .container-agent .clearfix::after {
    clear: both;
}



/* col 속성 */
.container-agent .col-common {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.container-agent .col-xl-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.container-agent .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.container-agent .col-xl-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.container-agent .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.container-agent .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}
.container-agent .col {
    flex-basis: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 100%;
}




.container-agent .width-1200 {
    width: 1200px;
}
.container-agent .dashboard-box.height-fixed_02 {
    height: 560px;
}
.container-agent .dashboard-box {
    display: block;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 4px 18px rgb(0 0 0 / 10%);
    margin-top: 20px;
    position: relative;
}
.container-agent .dashboard-box .headline {
    display: block;
    padding: 15px 25px;
    border: 1px solid #e4e4e4;
    position: relative;
    overflow: hidden;
    background: #ecf2f7;
}
.container-agent .dashboard-box .headline h3 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    line-height: 26px;
}
.container-agent .dashboard-box .headline h3 i.fa-angle-double-right {
    left: -3px;
    top: 0px;
    margin-right: 0px;
}
.container-agent .dashboard-box .headline h3 i {
    color: #66676b;
    font-size: 15px;
    line-height: 0;
    position: relative;
    top: 2px;
    margin-right: 4px;
    color: #2a41e8;
}
.container-agent .dashboard-box .headline .headline-btn {
    position: absolute;
    top: 12px;
    right: 25px;
}
.container-agent .dashboard-box .headline .headline-btn .button {
    padding: 0px 10px;
    line-height: 35px;
    height: 35px;
}
.container-agent .dashboard-box .button.blue-line, 
.container-agent .button.blue-line {
    background-color: #fff;
    color: #78148c;
    box-shadow: none;
    border: 1px solid #78148c;
}
.container-agent .dashboard-box .button.blue-line:hover,
.container-agent .dashboard-box .button.blue-line:hover {
    background-color: #78148c;
    color: #fff;
}
.container-agent .dashboard-box .button.gray, .container-agent .button.gray {
    background-color: #eee;
    color: #666;
    box-shadow: none;
}
.container-agent .dashboard-box .dashboard-box-list .button:not(.ico):hover, 
.container-agent .dashboard-box .button.red:not(.ico):hover,
.container-agent .dashboard-box .button.green:not(.ico):hover,
.container-agent .dashboard-box .button.gray:not(.ico):hover {
    color: #fff;
    background-color: #333;
    box-shadow: 0 3px 8px rgb(0 0 0 / 10%);
}
.container-agent .dashboard-box .button.ico {
    width: auto;
    text-align: center;
}
.container-agent .dashboard-box .button.ico i {
    font-size: 14px;
    position: relative;
    left: 1px;
}

.container-agent ul.dashboard-box-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container-agent .dashboard-box-list {
    box-shadow: none;
}
.container-agent .dashboard-box-list .button {
    padding: 0px 10px;
    line-height: 40px;
    height: 40px;
    font-size: 16px;
    margin: 0;
    display: inline-block;
    box-shadow: 0 3px 8px rgb(102 103 107 / 15%);
}
.container-agent .dashboard-box-list a.button i {
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;
    font-size: 14px;
    line-height: 0;
    margin-left: -2px;
}
.container-agent ul.dashboard-box-list > li {
    border-bottom: 1px solid #e4e4e4;
    line-height: 26px;
    padding: 25px;
    /*display: flex;*/
    align-items: center;
    position: relative;
    width: 100%;
    flex-flow: row wrap;
    transition: 0.3s;
    min-height: 98px;
}
.container-agent ul.dashboard-box-list > li:last-child {
    border-bottom: none;
}

.container-agent textarea.agree_02, 
.container-agent div.agree_02 {
    height: 400px;
    margin-bottom: 23px;
    border: 1px solid rgb(213, 213, 213);
    line-height: 27px;
    padding: 20px;
    overflow-y: auto;
}

.container-agent .checkbox {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
}
.container-agent .checkbox input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.container-agent .checkbox label {
    position: relative;
    cursor: pointer;
    padding-left: 28px;
    line-height: 29px;
}
.container-agent .checkbox label span.checkbox-icon {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid #b4b4b4;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 3px;
}
.container-agent .checkbox label span.checkbox-icon::after {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    content: '';
    display: block;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: scale(.5) rotate(45deg);
    transition: all 0.35s cubic-bezier(.3, -.41, .19, 2), opacity .3s;
}
.container-agent .checkbox input:checked + label span.checkbox-icon {
    background: url('../images/check-mark-64.png') no-repeat center center/cover;
    background-color: #2a41e8;
    border-color: #2a41e8;
}

.container-agent .submit-field {
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.container-agent .submit-field h5 {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    margin-bottom: 0px;
}
.container-agent .submit-field h5 span {
    color: #888;
    font-weight: 500;
}
.container-agent .submit-field h5.point, .container-agent .submit-field h5 span.tc_red {
    color: red;
}
.container-agent .submit-field.field-two .field-block.fl {
    padding-right: 10px;
}
.container-agent .submit-field.field-two .field-block.fr {
    padding-left: 10px;
}
.container-agent .submit-field.field-two .field-block {
    width: 50%;
    float: left;
    position: relative;
}
.container-agent .submit-field span.stxt {
    position: absolute;
    top: 7px;
    left: 10px;
    color: #cfcfcf;
    font-size: 16px;
}

.container-agent .radio-area {
    display: block;
    width: 100%;
}
.container-agent .radio {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}
.container-agent .radio input[type=radio] {
    position: absolute;
    opacity: 0;
}
.container-agent .radio label {
    margin: 3px 0;
    cursor: pointer;
    position: relative;
    padding-left: 26px;
    line-height: 25px;
}
.container-agent .radio input[type=radio] + label .radio-label {
    content: '';
    border-radius: 100%;
    border: 2px solid #b4b4b4;
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 0.1s ease;
    z-index: 100;
    position: absolute;
    top: 4px;
    left: 0;
}
.container-agent .radio input[type=radio]:checked + label .radio-label {
    background-color: #2a41e8;
    border-color: #2a41e8;
    box-shadow: inset 0 0 0 3px #fff;
}
.container-agent .radio-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: transparent;
    display: block;
}
.container-agent .radio input[type=radio]+label .radio-label:after {
    background-color: #66676b;
    content: "";
    right: 0;
    margin: 0 auto;
    opacity: 1;
    transition: .3s;
    border-radius: 50%;
    transform: scale(0);
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.container-agent .input-with-icon-left {
    position: relative;
}
.container-agent .input-with-icon-left i {
    position: absolute;
    top: 0;
    color: #a0a0a0;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 19px;
    background-color: #f8f8f8;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    display: block;
    border-radius: 4px 0 0 4px;
}
.container-agent .input-with-icon-left input {
    padding-left: 50px;
}

.container-agent .tip-text {
    position: relative;
    padding-left: 10px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 16px;
}
.container-agent .tip-text span {
    position: absolute;
    top: auto;
    left: 0px;
    color: red;
}

.container-agent .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%
}
.container-agent .bootstrap-select.btn-group:not(.input-group-btn), 
.container-agent .bootstrap-select.btn-group[class*=col-] {
    float: none;
    display: flex;
    margin-left: 0;
}
.container-agent .bootstrap-select.btn-group {
    position: relative;
}
.container-agent .bootstrap-select.btn-group button {
    position: relative;
    display: inline-block;
    height: 40px;
    line-height: 0;
    padding: 0 10px;
    margin: 0;
    outline: none;
    font-size: 16px;
    color: gray;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    font-weight: 500;
    opacity: 1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 4px 00 rgb(0 0 0 / 5%);
}
.container-agent .with-border .dropdown-menu, 
.container-agent .with-border.bootstrap-select.btn-group button {
    border: 1px solid #d5d5d5;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 5%);
}
.container-agent .bootstrap-select>.dropdown-toggle.bs-placeholder, 
.container-agent .bootstrap-select>.dropdown-toggle.bs-placeholder:hover, 
.container-agent .bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.container-agent .bootstrap-select>.dropdown-toggle.bs-placeholder:active {
    color: gray;
}
.container-agent .bootstrap-select > .dropdown-toggle {
    width: 100%;
    padding-right: 25px;
    z-index: 1;
}
.container-agent .bootstrap-select .btn {
    user-select: none;
}

.container-agent .avatar-wrapper {
    position: relative;
    width: 170px;
    height: 170px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: none;
    margin: -2px auto 20px!important;
    transition: all 0.3s ease;
}
.container-agent .avatar-wrapper:hover {
    transform: scale(1.05);
}
.container-agent .avatar-wrapper .file-pic {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    object-fit: cover;
}
.container-agent .file-pic::after {
    font-family: 'Font Awesome 6 Free';
    content: "\f53f";
    font-weight: 800;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 120px;
    position: absolute;
    font-size: 60px;
    background: #f0f0f0;
    color: #aaa;
    text-align: center;
}

.container-agent .wrp-ImgUpBtn .file-upload {
    display: none;
}
.container-agent .wrp-ImgUpBtn .button {
    background-color: #78148c;
}

.container-agent .notification {
    line-height: 1.5em;
    position: relative;
    padding: 10px;
    /* padding-right: 50px; */
    border-radius: 3px;
    width: 100%;
}
.container-agent .notification.error {
    color: #de5959;
    background-color: #ffe9e9;
}
.container-agent .notification p {
    margin: 0;
    font-size: 14px;
}

.container-agent table.basic-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    background: #fff;
}
.container-agent table.basic-table td {
    position: relative;
    word-break: normal;
}
.container-agent table.basic-table th, .container-agent table.basic-table td {
    padding: 10px 15px;
    border: 1px solid #f4f4f4;
}
.container-agent table.basic-table td.title {
    background: #f4f4f4;
    font-weight: bold;
}