@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic';
    src: url("font/NanumGothic.otf");
}
@font-face {
    font-family: 'Nanum Gothic Light';
    src: url(font/NanumGothicLight.otf);
}
@font-face {
    font-family: 'Nanum Gothic Bold';
    src: url(font/NanumGothicBold.otf);
}
@font-face {
    font-family: 'Nanum Gothic Extra Bold';
    src: url(font/NanumGothicExtraBold.otf);
}

* {
    margin: 0; padding: 0;
    font-family: 'Nanum Gothic';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}

body {
    width: 100%;
    font-size: 16px;
}