@charset "utf-8";

/* 헤더 */
#header {
    height: 280px;
    margin: 0 auto;
}

/* 로그인 메뉴 */
#header .btn-login {
    width: 1200px;
    height: 46px;
    padding-top: 24px;
    margin: 0 auto;
}
#header .btn-login .menu-login {
    float: right;
}
#header .btn-login .menu-login li {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    border-right: 1px solid #444;
}
#header .btn-login .menu-login li:last-child {
    border-right: none;
}

/* 로고 이미지 */
#header .img-logo {
    width: 1200px;
    height: 105px;
    text-align: center;
    margin: 10px auto 35px auto;
}

/* 메인메뉴 */
#header .btn-menu {
    width: 100%;
    height: 60px;
    
    text-align: center;
    background: #612C87;
}
#header .btn-menu .menu-main {
    width: 1200px;
    height: 40px;

    padding-top: 20px;
    margin: 0 auto;
}
#header .btn-menu .menu-main li {
    display: inline-block;
    text-align: center;
    padding: 0 30px;
    border-right: 1.2px solid #fff;
}
#header .btn-menu .menu-main li:last-child {
    border-right: none;
}
#header .btn-menu .menu-main li a {
    transition: color 0.2s;
    font-size: 20px;
    color: #fff;
}
#header .btn-menu .menu-main li a:hover {
    transition: color 0.2s;
    color: #bbb;
}

/* Index 메인 */
#container {
    margin: 0 auto;
}

/* 메인 이미지 */
#container .menu-img {
    padding-top: calc(300 / 1000 * 100%);
	background:url("../images/menu_img01.jpg") no-repeat;
	animation:myfirst 10s infinite;
	-moz-animation:myfirst 10s infinite;
	-webkit-animation:myfirst 10s infinite;
}
@keyframes myfirst
{
0%   { background:url("../images/menu_img01.jpg") no-repeat;  background-size: cover;}
33%  { background:url("../images/menu_img02.jpg") no-repeat;  background-size: cover;}
66%  { background:url("../images/menu_img03.jpg") no-repeat;  background-size: cover;}
100% { background:url("../images/menu_img01.jpg") no-repeat;  background-size: cover;}
}

/* 공지사항 */
#container .content {
    width: 1200px;
    height: 300px;
    margin: 100px auto 35px auto;
    border: 1px solid rgb(205, 205, 205);
}
#container .notice {
	width:1200px;
    height: 70px;
	border-bottom: 1px solid rgb(205, 205, 205);	
}
#container .notice-title{
	width:1090px;
	height:40px;
    float:left;
    text-align: center;
	padding-top: 20px;
	font-size:20px;	 
}
#container .btn-notice{
	float:right;
	width:86px;
	height:40px;
	padding: 20px 0 0 20px;
	font-size:25px;
	color:gray;
}
#container .notice-content{
	padding : 10px 0 0 30px;
}
#container .notice-content li{
	padding : 9px 0;
}
#container .notice-content li a{
	font-size:15px;
}
#container .notice-content li a span{
	float:right;
	font-size:15px;
    padding-right: 30px;
}



/* 회원가입 css */
.container-join {
    width: 1200px;
    margin: 0 auto;
}
.container-join .bar-title {
    width: 100%;
    height: 50px;
    padding: 80px 0 30px 0;
}
.bar-title .title {
    font-weight: normal;
    color: #333;
    font-size: 30px;
    line-height: 40px;
    margin: 1px 0 3px;
}

.container-join .board-join {
    text-align: center;
    width: 100%;
}
/* div.container-join .board-join */
.board-join .text-welcome {
    height: 70px;
    padding-bottom: 20px;
    line-height: 30px;
}
.board-join .text-welcome .title {
    font-size: 26px;
}
.board-join .text-welcome .info {
    font-size: 17px;
    color: #666;
}
.board-join .text-welcome .info a {
    transition: color 0.2s;
    color: #2A41E8;
}
.board-join .text-welcome .info a:hover {
    transition: color 0.2s;
    color: #000;
}

.board-join .form-join, .field-submit {
    text-align: left;
    width: 500px;
    margin: 0 auto;
}
.board-join .form-join span {
    font-size: 15px;
}
.board-join .form-join .info {
    display: inline-block;
    margin-bottom: 8px;
}
.board-join .form-join .indicator-check {
    position: relative;
    left: 370px;
    color: red;
}
.board-join .form-join .box-text {
    width: 100%;
    height: 40px;
    padding: 6px 0;
}
.board-join .form-join .box-text .input {
    float: right;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 0 4px 4px 0;
    border-left: none;
    box-shadow: rgb(0 0 0 / 5%) 0 1px 4px 0;
    height: 40px;
    padding: 0 10px;
    outline: none;
    font-size: 16px;
    color: gray;
    margin: 0;
    max-width: 100%;
    width: 460px;
    box-sizing: border-box;
    display: block;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    opacity: 1;
}
.board-join .form-join .box-text i {
    float: left;
    color: #a0a0a0;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 19px;
    background-color: #f8f8f8;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    display: block;
    border-radius: 4px 0 0 4px;
    box-shadow: rgb(0 0 0 / 5%) 0 1px 4px 0;
}

.board-join .field-submit .checkbox input[type=checkbox] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.board-join .field-submit .checkbox label {
    position: relative;
    cursor: pointer;
    padding-left: 28px;
    line-height: 25px;
}
.board-join .field-submit .checkbox .icon-checkbox {
    content: '';
    background-color: transparent;
    border: 2px solid #b4b4b4;
    height: 20px;
    width: 20px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    transition: all 0.3s;
    position: absolute;
    top: 3px;
    left: 0px;
}