@charset "utf-8";

/* 헤더 */
#header {
    height: 280px;
    margin: 0 auto;
}

/* 로그인 메뉴 */
#header .btn-login {
    width: 1200px;
    height: 46px;
    padding-top: 24px;
    margin: 0 auto;
}
#header .btn-login .menu-login {
    float: right;
}
#header .btn-login .menu-login li {
    display: inline-block;
    text-align: center;
    padding: 0 20px;
    border-right: 1px solid #444;
}
#header .btn-login .menu-login li:last-child {
    border-right: none;
}

/* 로고 이미지 */
#header .img-logo {
    width: 1200px;
    height: 105px;
    text-align: center;
    margin: 10px auto 35px auto;
}

/* 메인메뉴 */
#header .btn-menu {
    width: 100%;
    height: 60px;
    
    text-align: center;
    background: #612C87;
}
#header .btn-menu .menu-main {
    width: 1200px;
    height: 40px;

    padding-top: 20px;
    margin: 0 auto;
}
#header .btn-menu .menu-main li {
    display: inline-block;
    text-align: center;
    padding: 0 30px;
    border-right: 1.2px solid #fff;
}
#header .btn-menu .menu-main li:last-child {
    border-right: none;
}
#header .btn-menu .menu-main li a {
    transition: color 0.2s;
    font-size: 20px;
    color: #fff;
}
#header .btn-menu .menu-main li a:hover {
    transition: color 0.2s;
    color: #bbb;
}

/* Index 메인 */
#container {
    margin: 0 auto;
}

/* 메인 이미지 */
#container .menu-img {
    padding-top: calc(300 / 1000 * 100%);
	background:url("../images/menu_img01.jpg") no-repeat;
	animation:myfirst 10s infinite;
	-moz-animation:myfirst 10s infinite;
	-webkit-animation:myfirst 10s infinite;
}
@keyframes myfirst
{
0%   { background:url("../images/menu_img01.jpg") no-repeat;  background-size: cover;}
33%  { background:url("../images/menu_img02.jpg") no-repeat;  background-size: cover;}
66%  { background:url("../images/menu_img03.jpg") no-repeat;  background-size: cover;}
100% { background:url("../images/menu_img01.jpg") no-repeat;  background-size: cover;}
}

/* 공지사항 */
#container {
    width: 1200px;
    height: 300px;
    margin: 100px auto 35px auto;
    border: 1px solid rgb(205, 205, 205);
}
#container .content {
	
}
#container .notice {
	width:1200px;
    height: 70px;
	border-bottom: 1px solid rgb(205, 205, 205);	
}
#container .notice-title{
	width:1090px;
	height:40px;
    float:left;
    text-align: center;
	padding-top: 20px;
	font-size:20px;	 
}
#container .btn-notice{
	float:right;
	width:86px;
	height:40px;
	padding: 20px 0 0 20px;
	font-size:25px;
	color:gray;
}
#container .notice-content{
	padding : 10px 0 0 30px;
}
#container .notice-content li{
	padding : 9px 0;
}
#container .notice-content li a{
	font-size:15px;
}
#container .notice-content li a span{
	float:right;
	font-size:15px;
    padding-right: 30px;
}
