@charset "utf-8";

/* 로그인 css */
.container-login {
    width: 1200px;
    margin: 0 auto;
}
.container-login .bar-title {
    width: 100%;
    height: 50px;
    padding: 80px 0 30px 0;
}
.container-login .bar-title .title {
    float: left;
    font-weight: normal;
    color: #333;
    font-size: 30px;
    line-height: 40px;
    margin: 1px 0 3px 80px;
}

.container-login .board-login {
    text-align: center;
    width: 500px;
    margin: 0 auto;
}

/* Login is welcome */
.container-login .board-login .text-welcome {
    height: 70px;
    padding-bottom: 20px;
    line-height: 30px;
}
.container-login .text-welcome .title {
    font-size: 26px;
}
.container-login .text-welcome .info {
    font-size: 17px;
    color: #666;
}

.container-login .board-login .form-login {
    text-align: left;
    width: 100%;
}
.container-login .form-login .box-text {
    width: 100%;
    height: 40px;
    padding: 6px 0;
}
.container-login .form-login .box-text .input {
    float: right;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 0 4px 4px 0;
    border-left: none;
    box-shadow: rgb(0 0 0 / 5%) 0 1px 4px 0;
    height: 40px;
    padding: 0 10px;
    outline: none;
    font-size: 16px;
    color: gray;
    margin: 0;
    max-width: 100%;
    width: 460px;
    box-sizing: border-box;
    display: block;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    opacity: 1;
}
.container-login .form-login .box-text i {
    float: left;
    color: #a0a0a0;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 19px;
    background-color: #f8f8f8;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    display: block;
    border-radius: 4px 0 0 4px;
    box-shadow: rgb(0 0 0 / 5%) 0 1px 4px 0;
}

.container-login .form-login .checkbox {
    display: inline-block;
    margin: 10px 20px 10px 0;
}
.container-login .form-login .checkbox input[type=checkbox] {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.container-login .form-login .checkbox label {
    user-select: none;
    display: block;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
    padding-left: 28px;
    line-height: 25px;
}
.container-login .form-login .checkbox .icon-checkbox {
    content: '';
    background-color: transparent;
    border: 2px solid #b4b4b4;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    border-radius: 4px;
    transition: all 0.2s;
    position: absolute;
    top: 0px;
    left: 0px;

    background: url(../images/check_icon.png) no-repeat center;
    background-size: 0%;
}
.container-login .form-login input[type=checkbox]:checked + label .icon-checkbox {
    background: url(../images/check_icon.png) no-repeat center;
    background-size: cover;
    background-size: 100%;
}

.container-login .form-login .btn-submit {
    width: 100%;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background: #78148c;
    transition: all 0.2s ease-in-out;
    color: #fff;
    font-size: 17px;
    line-height: 40px;
    margin-bottom: 5px;
    letter-spacing: 0.8px;
}
.container-login .btn-submit .text {
    position: relative;
    left: 13px;
    transition: all 0.2s ease-in-out;
}
.container-login .btn-submit .arrow-animate {
    font-size: 15px;
    opacity: 0;
    position: relative;
    left: -10px;
    transition: all 0.2s ease-in-out;
}
.container-login .btn-submit:hover .arrow-animate {
    position: relative;
    left: 0;
    opacity: 1;
}
.container-login .btn-submit:hover .text {
    position: relative;
    left: 0;
}

/* 소셜 로그인 버튼들 */
.container-login .btn-group-login {
    display: flex;
    width: 100%;
}
.container-login button {
    border: none;
    margin: 0;
    width: auto;
    overflow: visible;
    background: 0px 0px;
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;
}
.container-login .ripple-effect {
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.container-login .btn-group-login button {
    flex: 1;
    text-align: center;
    border: 1px solid #333;
    color: #333;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 14px;
    padding: 9px 5px;
    width: 250px;
    transition: 0.3s;
}
.container-login .social-login-btn button {
    flex: 1;
    text-align: center;
    border: 1px solid #333;
    color: #333;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 14px;
    padding: 9px 5px;
    width: 250px;
    transition: 0.3s;
}
.container-login .btn-group-login .join-login {
    border-color: #3b5998;
    color: #3b5998;
}
.container-login .btn-group-login .join-login:hover {
    background-color: #3b5998;
    color: #fff;
}

.container-login .btn-group-login .idpw-find {
    border-color: #dd4b39;
    color: #dd4b39;
    margin-right: 0;
}
.container-login .btn-group-login .idpw-find:hover {
    background-color: #dd4b39;
    color: #fff;
}

.container-login .social-login-separator {
    width: 100%;
    display: block;
    text-align: center;
    position: relative;
    margin: 38px 0 15px;
    height: 1px;
}
.container-login .social-login-separator span {
    background-color: #fff;
    position: absolute;
    line-height: 10px;
    top: -5px;
    margin-left: -15px;
    padding: 0 10px;
    color: gray;
}
.container-login .social-login-separator::before {
    width: 100%;
    content: "";
    height: 1px;
    display: block;
    background-color: #e0e0e0;
    position: absolute;
    top: 0;
}

.container-login .social-login-btn {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.container-login .social-login-btn .naver-login {
    background-color: #00c73c;
    color: #fff;
    border-color: #00b135;
    max-width: 100%;
}
.container-login .social-login-btn .naver-login:hover {
    background-color: #00b135;
}

.container-login .social-login-btn .kakao-login {
    background-color: #ffdc3d;
    color: #333;
    border-color: #fcce00;
    margin-right: 0;
}
.container-login .social-login-btn .kakao-login:hover {
    background-color: #fcce00;
}