@charset "utf-8";
/* 배송대행 서비스 안내 */
#container .informationuse {
    width: 1200px;
    height: 5740px; 
    margin: 70px auto 35px auto; 
}
#container .informationuse-title {
    width: 1198px;
    height: 40px; 
}
#container .informationuse-title p{
    width: 299px;
    height: 29px;
    font-size: 24px;
    padding-top: 7px; 
    float: left;
}
#container .btn-manual{
    width: 350px;
    height: 24px;
    padding-top: 14px; 
    float: right;
    border-radius: 5px 5px 5px 5px; 
    background-color: rgb(220, 220, 220);	
    border: 1px solid rgb(220, 220, 220);	
}
/* 홈/이용안내/배송대행 이용방법 */
#container .home{
    width: 155px;
    height: 25px;
    padding-left: 24px;
    font-size: 15px;
    float: left;	
}
#container .toggle{
    width: 155px;
    height: 25px;
    font-size: 15px;
    float: right;
}
#container .dropdown-content{
    width: 180px;
    height: 260px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid rgb(205, 205, 205);	
}
#container .dropdown-content i{
    color: #612C87;	
}
/* 서브 메인/배송대행 이용방법 */
#container .informationuse-sub-title{
    width: 296px;
    height: 1843px; 
    float: left;
}
#container .delivery-agent{
    width: 230px;
    height: 112px;
    margin-top: 40px; 
    border-bottom: 1px solid rgb(205, 205, 205);
}
#container .delivery-agent-manual{
    width: 220px;
    height: 23px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    background-color: rgb(208, 174, 240); 
}
#container .delivery-agent-service{
    width: 180px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .delivery-agent-service:hover{
    color: white;
    background-color: #612C87;
}
#container .delivery-agent-application-manual{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87;
}
#container .delivery-agent-application-manual:hover{
    color: white;
    background-color: #612C87; 
}
#container .purchasingagent-agent{
    width: 230px;
    height: 112px;
    margin-top: 7px; 
    border-bottom: 1px solid rgb(205, 205, 205);
}
/* 서브 메인/구대행 이용방법 */
#container .purchasingagent-agent-manual{
    width: 220px;
    height: 23px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    background-color: rgb(208, 174, 240);  
}
#container .purchasingagent-agent-service{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .purchasingagent-agent-service:hover{
    color: white;
    background-color: #612C87;
} 
#container .purchasingagent-agent-application-manual{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
   font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .purchasingagent-agent-application-manual:hover{
    color: white;
    background-color: #612C87;
}  
#container .business-user-guide{
    width: 220px;
    height: 23px;
    margin: 7px 0 7px 0;
    padding: 7px 0 0 10px;
    color: #612C87;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .business-user-guide:hover{
    color: white;
    background-color: #612C87;
} 
/* 서브 메인/타오바오 이용방법 */
 #container .taobao-manual{
    width: 220px;
    height: 23px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    background-color: rgb(208, 174, 240);  
}
#container .join-manual{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .join-manual:hover{
    color: white;
    background-color: #612C87;
} 
#container .address-manual{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .address-manual:hover{
    color: white;
    background-color: #612C87;
} 
#container .purchase-payment{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: white;
    background-color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .return-refund-manual{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .return-refund-manual:hover{
    color: white;
    background-color: #612C87;
} 
#container .invoice-number{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .invoice-number:hover{
    color: white;
    background-color: #612C87;
} 
#container .automatic-order-registration-manual{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .automatic-order-registration-manual:hover{
    color: white;
    background-color: #612C87;
} 
#container .taobao-agent{
    width: 230px;
    height: 253px;
    margin-top: 7px; 
    border-bottom: 1px solid rgb(205, 205, 205);
} 
/* 서브 메인/이용팁 */
#container .use-tip{
    width: 220px;
    height: 23px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    background-color: rgb(208, 174, 240);  
}
#container .chinese-size-manual{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .chinese-size-manual:hover{
    color: white;
    background-color: #612C87;
} 
#container .chinese-delivery-tracking{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .chinese-delivery-tracking:hover{
    color: white;
    background-color: #612C87;
} 
#container .issuance-of-unique-number{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .issuance-of-unique-number:hover{
    color: white;
    background-color: #612C87;
}  
#container .customs-duty{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .customs-duty:hover{
    color: white;
    background-color: #612C87;
} 
#container .import-prohibited-items{
    width: 178px;
    height: 20px;
    margin-bottom: 7px;
    padding: 7px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .import-prohibited-items:hover{
    color: white;
    background-color: #612C87;
} 
#container .use-tip-agent{
    width: 230px;
    height: 217px;
    margin-top: 7px; 
    border-bottom: 1px solid rgb(205, 205, 205);
}
#container .nodata-processing-manual{
    width: 220px;
    height: 23px;
    margin: 7px 0 7px 0;
    padding: 7px 0 0 10px;
    color: #612C87;
    border-radius: 5px 5px 5px 5px; 
    border: 1px solid #612C87; 
}
#container .nodata-processing-manual:hover{
    color: white;
    background-color: #612C87;
}  
/* 콘텐츠*/
#container .purchase-payment-content{
    width: 896px;
    height: 5689px;
    float: right; 
}
#container .purchase-payment-manual{
    width: 894px;
    height: 120px;
    margin-top: 35px;
    text-align: center;
}
#container .purchase-payment01-manual{
    width: 894px;
    height: 561px;
    margin-top: 50px;
    text-align: center;
}
#container .purchase-payment02-manual{
    width: 894px;
    height: 536px;
    margin-top: 50px;
    text-align: center;
}
#container .purchase-payment03-manual{
    width: 894px;
    height: 505px;
    margin-top: 50px;
    text-align: center;
}
#container .purchase-payment04-manual{
    width: 894px;
    height: 311px;
    margin-top: 50px;
    text-align: center;
}
#container .purchase-payment05-manual{
    width: 894px;
    height: 773px;
    margin-top: 50px;
    text-align: center;
}
#container .purchase-payment06-manual{
    width: 894px;
    height: 433px;
    margin-top: 50px;
    text-align: center;
}
#container .purchase-payment07-manual{
    width: 894px;
    height: 407px;
    margin-top: 50px;
    text-align: center;
}
#container .purchase-payment08-manual{
    width: 894px;
    height: 1114pxpx;
    margin-top: 50px;
    text-align: center;
}
#container .purchase-payment09-manual{
    width: 894px;
    height: 437px;
    margin-top: 50px;
    text-align: center;
}


