@charset "utf-8";

@font-face {
    font-family: 'Nanum Gothic';
    src: url("font/NanumGothic.otf");
}
@font-face {
    font-family: 'Nanum Gothic Light';
    src: url(font/NanumGothicLight.otf);
}
@font-face {
    font-family: 'Nanum Gothic Bold';
    src: url(font/NanumGothicBold.otf);
}
@font-face {
    font-family: 'Nanum Gothic Extra Bold';
    src: url(font/NanumGothicExtraBold.otf);
}

* {
    margin: 0; padding: 0;
    font-family: 'Nanum Gothic';
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
}

body {
    width: 100%;
    font-size: 16px;
}

/* 거의 모든 페이지 공통! 이동경로 css 이다! */
#breadcrumbs.dark {
    color: rgb(102, 102, 102);
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
}
#breadcrumbs {
    float: right;
    border-radius: 4px;
    font-size: 14.7px;
    width: auto;
    padding: 12px 22px;
    user-select: none;
}
#breadcrumbs .nav-list li {
    float: left;
    list-style: none;
    margin-left: 7px;
    line-height: 23px;
    height: 23px;
    position: relative;
}
#breadcrumbs .nav-list li:first-child {
    margin-left: 0px;
}
#breadcrumbs .nav-list li:first-child > a, 
#breadcrumbs .nav-list li:first-child > a:hover {
    color: rgb(102, 102, 102);
}
#breadcrumbs .nav-list li a:hover {
    color: rgb(102, 103, 107);
}
#breadcrumbs .nav-list li:first-child::before {
    margin: 0;
    border: none;
}
#breadcrumbs .nav-list li::before {
    content: "";
    float: left;
    height: 0px;
    width: 0px;
    border-left: 4px solid rgba(0, 0, 0, 0.15);
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    font-size: 14px;
    margin-right: 12px;
    margin-top: 8px;
}
#breadcrumbs .nav-list .dropdown-content {
    display: none;
    position: absolute;
    top: 38px;
    right: -21px;
    background-color: #fff;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 999;
}
#breadcrumbs .dropdown-content a {
    color: #666;
    border-radius: 8px;
    padding: 5px 16px;
    margin: 10px 5px;
    display: block;
    transition: all 0.3s;
}
#breadcrumbs .dropdown-content a:hover {
    background-color: rgba(0, 20, 220, 0.12);
}
#breadcrumbs .dropdown-content .check {
    float: right;
    color: #2a41e8;
}
#breadcrumbs .dropdown-content a.active {
    content: attr();
}
#breadcrumbs .select-area span {
    font-size: 14px;
}
#breadcrumbs .select-area .caret {
    display: inline-block;
    transition: all 0.3s ease 0s;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid #aaa;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
#breadcrumbs .select-area .active {
    transform: rotate(180deg);
}

#breadcrumbs .clearfix::before {
    content: " ";
    display: flex;
}
#breadcrumbs .clearfix::after {
    content: " ";
    display: flex;
    clear: both;
}
#breadcrumbs button {
    border: none;
    margin: 0;
    width: auto;
    overflow: visible;
    background: 0px 0px;
    color: inherit;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;
}

.margin-top-0 {
    margin-top: 0px!important;
}
.margin-top-2 {
    margin-top: 2px!important;
}
.margin-top-10 {
    margin-top: 10px!important;
}
.margin-top-15 {
    margin-top: 15px!important;
}
.margin-top-20 {
    margin-top: 20px!important;
}
.margin-top-30 {
    margin-top: 30px!important;
}
.margin-top-40 {
    margin-top: 40px!important;
}
.margin-top-50 {
    margin-top: 50px!important;
}
.margin-right-10 {
    margin-right: 10px!important;
}
.margin-bottom-0 {
    margin-bottom: 0px!important;
}
.margin-bottom-5 {
    margin-bottom: 5px!important;
}
.margin-bottom-10 {
    margin-bottom: 10px!important;
}
.margin-bottom-20 {
    margin-bottom: 20px!important;
}
.margin-bottom-30 {
    margin-bottom: 30px!important;
}
.margin-bottom-40 {
    margin-bottom: 40px!important;
}
.padding-top-10 {
    padding-top: 10px!important;
}
.padding-top-70 {
    padding-top: 70px!important;
}
.padding-right-10 {
    padding-right: 10px!important;
}
.padding-bottom-0 {
    padding-bottom: 0px!important;
}
.padding-bottom-10 {
    padding-bottom: 10px!important;
}
.padding-left-10 {
    padding-left: 10px!important;
}