/* 이용약관  */
#container .privacy-statement{
    width: 1200px;
    height: 3050px;
    margin: 70px auto 35px auto;
}
#container .privacy-statement-title {
    width: 1198px;
    height: 40px;
}
#container .privacy-statement-title p{
    width: 299px;
    height: 29px;
    font-size: 24px;
    padding-top: 7px;
    float: left;
}
/* 홈/이용약관/회사소개 */
#container .btn-manual{
    width: 350px;
    height: 24px;
    padding-top: 14px;
    float: right;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(220, 220, 220);
}
#container .home{
    width: 155px;
    height: 25px;
    padding-left: 24px;
    font-size: 15px;

    float: left;
}
#container .toggle{
    width: 155px;
    height: 25px;
    font-size: 15px;
    float: right;
}
#container .dropdown-content{
    width: 180px;
    height: 100px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid rgb(205, 205, 205);
}
#container .dropdown-content i{
    color: #612C87;
}
/* 개인정보 수집방침 서브 타이틀 */
#container .privacy-statement-sub-title{
    width: 296px;
    height: 210px;
    float: left;
}
#container .btn-privacy-statement{
    width: 230px;
    height: 116px;
    margin-top: 40px;
}
#container .termsofuse{
    width: 180px;
    height: 22px;
    margin-bottom: 7px;
    padding: 10px 0 0 10px;
    color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #612C87;
}
#container .termsofuse:hover{
    color: white;
    background-color: #612C87;
}
#container .privacystatement{
    width: 180px;
    height: 22px;
    margin-bottom: 7px;
    padding: 10px 0 0 10px;
    color: white;
    background-color: #612C87;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #612C87;
}

/* 콘텐츠 */
#container .privacystatement-content{
    width: 896px;
    height: 3000px;
    float: right;
}
#container .privacystatement-box p{
    width: 896px;
    height: 2998px;
}

